<div class="item">
  <img src="{{item.image}}" class="item__img" alt="{{item.name}}">
  <div>
    <p class="item__copy-title">{{item.name}}</p>
    <h5 class="item__copy-price">${{item.price}}</h5>
    <p class="item__copy-description">{{item.description}}</p>
    <div class="d-flex justify-content-between">
      <div class="stars">
        <div *ngIf="item.stars === 5">
          <img src="../../../../assets/images/star.svg">
        </div>
        <div *ngIf="item.stars > 4">
          <img src="../../../../assets/images/star.svg">
        </div>
        <div *ngIf="item.stars === 4">
          <img src="../../../../assets/images/star.svg">
        </div>
        <div *ngIf="item.stars > 3">
          <img src="../../../../assets/images/star.svg">
        </div>
        <div *ngIf="item.stars === 3">
          <img src="../../../../assets/images/star.svg">
        </div>
        <div *ngIf="item.stars > 2">
          <img src="../../../../assets/images/star.svg">
        </div>
        <div *ngIf="item.stars === 2">
          <img src="../../../../assets/images/star.svg">
        </div>
        <div *ngIf="item.stars > 1">
          <img src="../../../../assets/images/star.svg">
        </div>
        <div *ngIf="item.stars === 1">
          <img src="../../../../assets/images/star.svg">
        </div>
        <div
          *ngIf="item.stars > 0 && item.stars !== 1 && item.stars !== 2 && item.stars !== 3 && item.stars !== 4 && item.stars !== 5">
          <img src="../../../../assets/images/star-half.svg">
        </div>
        <p class="stars__text">{{item.stars}}</p>
      </div>
      <button class="stars__btn" *ngIf="edit" (click)="sendItemtoEdit(item)">Editar</button>
    </div>
  </div>
</div>
