  <div class="gallery">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-0" *ngFor="let item of list">
        <app-item [item]="item" [edit]="edit"></app-item>
      </div>
    </div>
  </div>
