.item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem 2rem;
    height: 100%;
    &__img {
        display: block;
        width: 100%;
    }
    &__copy-title{
        line-height: 2rem;
    }
    &__copy-price{
        font-weight: 700;
        font-size: 3rem;
        line-height: 1rem;
    }
    &__copy-description{
        font-size: 1.75rem;
        color: var(--color-grey-item);
        line-height: 2.5rem;
    }

}

.stars {
    display: flex;
    align-items: center;
    &__text {
        color: var(--color-grey-stars);
        font-size: 1.25rem;
        margin-left: 0.5rem
    }
    &__btn {
        background-color: var(--color-white);
        border: 1px solid var(--color-blue-btn);
        border-radius: 0.5rem;
        padding: 0 2rem;
        color: var(--color-blue-edit);
        font-weight: 500;
        font-size: 1.7rem;
    }
}