.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.75rem 3.75rem 10rem;
    &__copy{
        font-weight: 400;
        &__title {
            font-size: 2rem;
            line-height: 3rem;
        }
        &__body {
            font-size: 1.75rem;
            line-height: 2.6rem;
        }
    }
}