<div class="content col-10 col-md-10 col-lg-8">
  <div class="row justify-content-center justify-content-md-between align-items-baseline px-5 pt-3 mx-3">
    <h2 class="title-text">
      Productos ({{products.length}})
    </h2>
    <div class="d-flex flex-column align-items-end">
      <app-display-selector (emitDisplay)="setDisplay($event)"></app-display-selector>
      <input type="text" placeholder="Buscador" [ngModel]="search" (ngModelChange)=toSearch($event)>
    </div>
  </div>
  <app-gallery *ngIf="display === 'grid'" [list]="products"></app-gallery>
  <app-list *ngIf="display === 'list'" [list]="products"></app-list>
</div>
