@import '../tools/mixins.tools';

@include phablet {
    .content {
        margin: 5rem auto;
    }
    footer {
        height: 20rem;
    }
    .management-div {
        margin: 8rem 2rem;
    }
   
}
