<table class="list">
  <tr>
    <th>Artículo</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Rating</th>
  </tr>
  <tr *ngFor="let item of list" class="list__item">
    <td>{{item.name}}</td>
    <td>{{item.description}}</td>
    <td>${{item.price}}</td>
    <td>{{item.stars}}<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M6.00016 8.31066L9.42008 10.3359L8.51253 6.51887L11.534 3.95062L7.55518 3.61398L6.00016 0.0195312L4.44515 3.61398L0.466309 3.95062L3.48226 6.51887L2.58024 10.3359L6.00016 8.31066Z"
          fill="#FB8200" />
      </svg>
    </td>
    <td><img src="{{item.image}}" alt="{{item.name}}" class="list__item__img">
      <button class="list__item__btn" (click)="sendItemtoEdit(item)">Editar</button></td>
  </tr>

</table>
