.list {
    width: 100%;
    margin: 3rem auto;
    padding: 1rem 6rem 3rem;
    &__item {
        text-align:left;
        &__img {
            width: 30%;
        }
        &__btn {
            margin-left: 1rem;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            background-color: var(--color-white);
            border: 1px solid var(--color-blue-btn);
            border-radius: 0.5rem;
            color: var(--color-blue-edit);
        }
    }
    td:nth-child(4) {
        text-align: center;
        margin-left: 2rem;
    }
    td:last-child {
        text-align: center;
        width: 20rem;
    }
    svg {
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
    }
} 
