<div class="container-form">
  <div class="container-form__form-div">

    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()" class="container-form__form-div__form">
      <label for="name">Nombre del producto:</label>
      <input type="text" id="name" formControlName="name" placeholder="Por ej: Tiesto para planta">

      <label for="price">Precio:</label>
      <input type="text" id="price" formControlName="price" placeholder="Por ej: 9.50">

      <label for="description">Descripción:</label>
      <input type="text" id="description" formControlName="description" placeholder="Por ej: Lo más vendido este mes">

      <label for="image">Ruta de la imagen</label>
      <input type="text" id="image" formControlName="image" placeholder=" Por ej: http://blabla.com/img.jpg">

      <label for="stars">Opiniones:</label>
      <input type="number" id="stars" formControlName="stars" placeholder="Por ej: 4.5">
      <div class="d-flex justify-content-between">
        <div class="container-form__btn-div">
          <button type="submit" class="container-form__btn-submit">Guardar</button>
        </div>
        <div class="container-form__btn-div">
          <button class="container-form__btn-submit container-form__btn-submit--delete"
            (click)="deleteItem()">Eliminar</button>
        </div>
      </div>
    </form>
  </div>

  <div class="container-form__form-item">
    <p>Preview del Producto</p>
    <div class="container-form__form-item__div">
      <app-item [item]="newProduct"></app-item>
    </div>
  </div>
</div>
