.container-form {
    display: flex;
    &__form-div {
            width: 55%;
        &__form {
            width: 95%;
            padding-right: 10%;
            display: flex;
            flex-direction: column;
            border-right: 1px solid var(--color-orange-dark);
        }
    }
    &__form-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        &__div {
            padding: 0px 15%;
        }
    }
    &__btn-div {
        text-align: right;
    }
    &__btn-submit {
        background-color: var(--color-orange-dark);
        color: var(--color-white);
        border: 1px solid var(--color-orange-dark);
        border-radius: 0.5rem;
        padding: 1rem 3.5rem;
        width: auto;
        &--delete {
            background-color: red;
        }
    }
}

@import '../../../../styles/tools/mixins.tools';

@include mobile {
    .container-form {
        flex-direction: column;
        align-items: center;
        &__form-div {
            width: 100%;
        &__form {
            padding-bottom: 10%;
            border-bottom: 1px solid var(--color-orange-dark);
        }
        }
        &__form-item {
            flex-direction: row;
            width: 85%;
            p {
                text-align: center;
            }
        }
    }
}
