footer {
    height: 35rem;
    width: 100vw;
}
.footer {
    background-color: var(--color-grey);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        a {
            padding: 0 1rem;
            border-right: 1px solid var(--color-white);
            &:last-child {
                border-right: none;
            }
        }
    }
    &__copy {
        margin-top: 4rem;
    }
}