header {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-title);
    color: var(--color-blue-dark);
    background-color: var(--color-white);
    text-align: center;
    h1 {
        margin-left: 1.5rem;
    }
}