input {
    padding: 0.8rem 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border: 1px solid var(--color-grey-logo);
    border-radius: 0.5rem;
}
::placeholder {
    color: var(--color-grey-placeholder);
    font-family: Inter;
}