<div class="display-selector">
  <div click-directive (click)="selectDisplay('list', 'grid')" (click)="sendDisplay()" id="list"
    class="display-selector__list-grid">
    <img src="../../../../../assets/images/list-logo.svg" alt="">
  </div>
  <div click-directive (click)="selectDisplay('grid', 'list')" (click)="sendDisplay()" id="grid"
    class="display-selector__list-grid display-selector__list-grid--active">
    <img src="../../../../../assets/images/grid-logo.svg" alt="">
  </div>
</div>
