.display-selector {
    background-color: var(--color-grey-10);
    border-radius: 0.5rem;
    width: fit-content;
    display: flex;
    &__list-grid {
        padding: 1.4rem 3rem;
        &--active {
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
            background-color: var(--color-white);
        }
        &:hover {
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
            background-color: var(--color-white);
        }
    }
}