:root {
    --color-orange: #FFC970;
    --color-white: #fff;
    --color-background: #eeeeee;
    --color-grey: #333333;
    --color-grey-10: #ededed;
    --color-grey-text: #19191D;
    --color-grey-item: #787885;
    --color-grey-logo: #444444;
    --color-grey-stars: #5E6366;
    --color-grey-placeholder: #888888;
    --color-orange-dark: #F89F21;
    --color-blue: #00579F;
    --color-blue-dark: #0C2146;
    --color-blue-btn: #9DC2FF;
    --color-blue-edit: #2264D1;
}

