:root {
    --font-family-base: Inter;
    --font-family-title: Red Hat Display;
}

@font-face{
    font-family: Inter;
    src: url(../../assets/fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: Red Hat Display;
    src: url(../../assets/fonts/RedHatDisplay-Medium.ttf);
}
