<footer class="footer">
  <nav>
    <p>Síguenos en:</p>
    <div class="footer footer__nav">
      <a>Twitter</a>
      <a>Facebook</a>
      <a>Instagram</a>
      <a>TikTok</a>
    </div>
  </nav>

  <div class="footer footer__copy">
    <p>Copyright Shopéame © 2020</p>
  </div>

</footer>
