.menu {
    background-color: var(--color-orange);
    height: 9rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__div {        
        width: 12.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover{
            border-radius: 1.25rem;
            background-color: rgba(235,242,255,0.3);
            height: 7rem;
        }

        &:hover .menu__logo{
            fill: var(--color-blue);
        }
        &:hover .menu__link{
            color: var(--color-blue);
        }
    }

    &__logo {
        fill: var(--color-grey-logo);
    }

    &__link {
        color: var(--color-grey-logo);
        text-decoration: none;
        margin-top: 0.6rem;
    }    
}

.active-link {
    border-radius: 1.25rem;
    background-color: rgba(235,242,255,0.3);
    height: 7rem;
    .menu__link {
        color: var(--color-blue);
    }
    .menu__logo {
        fill: var(--color-blue);
    }
}