<div class="content col-10 col-md-10 col-lg-8">
  <div class="px-5 pt-3 mx-3">
    <h2 class="title-text">
      Creación/edición de productos
    </h2>
  </div>
  <div class="management-div">
    <app-form class="management-div__form"></app-form>
  </div>
</div>
