.management-div {
    margin: 8rem 7rem;
    padding-bottom: 7rem;
    width: 100%;
    &__form {
        width: 100%;
    }
}

@import '../../../styles/tools/mixins.tools';

@include phablet {

    .management-div {
        margin: 8rem 2rem;
    }   
}

@include mobile {
    .management-div {
        margin: 5rem 2rem;
    }
}
